# 设置所有文本文件的行尾符号为LF
* text=auto eol=lf

# 指定特定文件类型使用LF
*.java text eol=lf
*.gradle text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf

# 指定二进制文件
*.jar binary
*.apk binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary